    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About the Project</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Lorem ipsum dolor sit amet, id ubique dissentiet definitionem sea. Rebum lorem contentiones vel no, vim vocibus consequuntur an. No ceteros indoctum repudiare est, ignota corpora an duo. Te est agam delicatissimi.</p>
                </div>
                <div class="col-lg-4">
                    <p>Ea appetere fabellas usu, eu eius senserit accommodare cum, no ludus reprimique dissentiunt est. Vix ad iisque nominati sapientem, inani verear voluptaria ad eos.</p>
                </div>
            </div>
        </div>
    </section>