{% load static from staticfiles %}
<!-- Portfolio Grid Section -->
    <section id="riskcalculator">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 id="calculate">epiRisk Calculator</h2>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <h3 id="selectDrugTitle2">Select a Drug to begin</h3>
                    <div class="progress">
                      <div id="progressBarCalculator" class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                      </div>
                    </div>                    
                </div>

                <!--DRUG LIST-->                
                <div class="col-lg-6 text-left col-md-offset-3" id="drugNameList">
                    <div class="list-group" id="DrugListClassChanger">
                        <a class="list-group-item active"><b>1.</b> Select Drug</a>
                        {% for drug in data %}
                            <a id="{{ drug.id }}" class="list-group-item drugName">{{ drug.name }}</a>
                        {% endfor %}
                    </div>
                </div>
                
                <!--DOSE LIST-->
                <div class="col-lg-3 text-left hidden" id="drugDoseList">
                <div id="drugDoseList"> 
                    <div class="list-group" id="doseList">
                        <a id="selectdoserange" class="list-group-item active"><b>2.</b> Select Dose Range (mg)</a>
                    </div>
                </div>
                </div>  
                
                <!--SELECTED DOSAGES LIST-->
                <div class="col-lg-3 text-left hidden" id="activeSelectedDrugList">
                <div id="selectedDrugs">
                        <div class="list-group" id="riskList">
                            <a class="list-group-item active">Drug List</a>
                        </div>
                        <button type="button" class="btn btn-default btn-danger pull-left" onclick="resetForm();">
                          <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Reset
                        </button>
                        <!-- <input class="btn btn-info pull-right" type="button" value="Calculate Risk" onclick="CalculateRisk();" /> -->
                        <button type="button" class="btn btn-info pull-right" onclick="CalculateRisk();">
                          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Calculate Risk
                        </button>
                </div>
                </div>
                
                <!-- CUMULATIVE RESULTS -->
                <div class="col-lg-3 text-left hidden" id="cumulativeRiskResultDiv">
                    <div class="list-group" id="DrugListClassChanger">
                    <p class="text-center">The calculated cumulative risk for major congenital malformations is approximately:</p>
                        <h1><div class="alert alert-info text-center" role="alert" id="cumulativeRiskResult"></div></h1>
                    </div>
                    
                    <div id=referenceTableDiv><br></div>
                    
                    <button type="button" class="btn btn-default btn-danger pull-right" onclick="resetForm();">
                      <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Reset
                    </button>
                </div>
            </div>
            
        </div>
    </section>

    <script> var csrf_token = '{{ csrf_token }}';</script>
    <script src="{% static 'js/risk_calculator.js' %}"></script>

<!--     <script type="text/javascript">
        $(function() {
            $('#drugNameList').click(function() {
                $('#drugNameList').attr('class', 'col-lg-6 text-left');
                $('#drugDoseList').attr('class', 'col-lg-6 text-left');
                $('#activeSelectedDrugList').attr('class', 'hidden');
                $('#progressBarCalculator').attr('style', 'width:33%');
                $('#selectDrugTitle2').attr('class', 'hidden');
            });
        });

                $(function() {
            $('#drugDoseList').click(function() {
                $('#drugNameList').attr('class', 'col-lg-4 text-left');
                $('#drugDoseList').attr('class', 'col-lg-4 text-left');
                $('#activeSelectedDrugList').attr('class', 'col-lg-4 text-left');
                $('#progressBarCalculator').attr('style', 'width:66%');
                $('#selectDrugTitle2').attr('class', 'hidden');
            });
        });
    </script>
 -->