{% load static from staticfiles %}

<!-- Portfolio Grid Section -->
    <section class="success" id="drugsandrisks">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Drugs and Risks</h2>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <h3>Choose a Drug to view its associated information</h3>
                </div>                
                <div class="col-lg-6 text-center col-md-offset-3" id="drugsAndRisksDiv">
                    <select class="form-control" id="drugSet" onchange="NeedDrugInformation()">
                        <option selected="true" style="display:none;">Select a drug...</option>
                        {% for drug in data %}
                            <option id="{{ drug.id }}">{{ drug.name }}</option>
                            }
                        {% endfor %}
                    </select><br>
                    <!-- <input class="btn btn-primary" type="button" value="View" onclick="NeedDrugInformation();" /><br><br> -->
                    <div id="infoTableDiv" style="background-color: white; color:#333333;">
                        <table id="infoTable" class="table table-bordered" style="display:none;">
                            <tr>
                              <th>Dose Range (mg)</th>
                              <th>Risk %</th>
                              <th>PubMed Link</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>var data_json = $.parseJSON('{{ data_json|safe }}')</script>
    <script src="{% static 'js/drugs_n_risks.js' %}"></script>