{% load staticfiles %}
<header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="skills">Calculate the risk of major congenital malformations (MCMs) in pregnant women being treated with anti-epileptic drugs (AEDs) using up-to-date, peer-reviewed literature.</span>
                    </div>
                </div>
            </div>
        </div>
</header>