<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/freelancer.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>
<body>
<div class="row">
    <div class="col-lg-6 col-lg-offset-3 text-center">
        {% if request.user.is_authenticated %}
            <h2>You're already logged in. Go to <a href="/">Main page</a>?</h2>
        {% else %}
        <h2>EpiRisk is under development</h2> 
        <form class="form-horizontal" action="{% url 'login' %}" method="post" accept-charset="utf-8">
            {% csrf_token %}
            {% for field in form %}
                <label>{{ field.label }}</label>
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
                <div class="controls">
                    {% if field.help_text %}
                        <p class="help-inline"><small>{{ field.help_text }}</small></p>
                    {% endif %}
                    {{ field }}
                </div>
                <br>
            {% endfor %}
            <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}/{% endif %}" />
            <input class="btn btn-success" type="submit" value="Submit"/>
        </form>
        {% endif %}
    </div>
</div>
</body>
</html>