<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
</head>
<body>
{{ title }}

<form method="POST" action="">{% csrf_token %}
	{{ form.as_p }}
	<input type='submit' value='Add Publication'></input>
</form>

</body>
</html>