    <section id="references">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>References</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Epilepsy registries incorporated into epiRisk include:</p>
                </div>
                <div class="col-lg-6 text-center">
                    <p>UK Epilepsy and Pregnancy Register (UKEPR)</p>
                    <a href="http://www.epilepsyandpregnancy.co.uk/" target="_blank" class="btn btn-lg btn-outline-success">Visit UKEPR</a>
                </div>
                <div class="col-lg-6 text-center">
                    <p>European Registry of Antiepileptic Drugs and Pregnancy (EURAP)</p>
                    <a href="http://www.eurapinternational.org/" target="_blank" class="btn btn-lg btn-outline">Visit EURAP</a>
                </div>
                </div>
            </div>
            </div>
        </div>
    </section>